:root {
  --primary-color: rgb(205, 170, 74);
}
body {
  margin: 0px;
  text-align: center;
  padding: 0rem;
  background-color: aqua;
  
  
}

.navigation {
  margin-top: 0px;
  background-color: var(--primary-color);
  padding: 50px;
  font-size: xx-large;
  
  text-emphasis-color: black;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.main{
    font-size: larger;
    flex-direction: row;
    
}


.angle-input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#submit-answer-btn {
  padding: 0.6rem 2rem;
font-weight: 600;
border: 2px solid transparent;
outline: none;
cursor: pointer;
text-transform: uppercase;
transition: all .2s ease;
text-decoration: none;
border-radius: 0.5rem;
margin-left: 55px;
margin-bottom: 15px;
}

#output {
font-weight: bold;
}
